.paragraph-1 {
    background: blue;
}

.paragraph-2{
    border: gray dashed 3px;
    margin: 30px;
    padding: 120px;
}

.paragraph-3{
    font-family: Cambria, serif;
    color: purple;
}

.info{
    font-weight: bold;
}

.lesson2_homework{
    font-style: oblique;
    text-align: center;
}